---
import Section from "../Section.astro";
import Tag from "@/components/ui/Tag.astro";

import { work } from "@cv";
import { formatDates } from "@/utils/date";
---

<Section title="Experience">
  <ul class="flex flex-col gap-8">
    {
      work.map(
        ({
          name,
          startDate,
          endDate,
          position,
          summary,
          highlights,
          url,
          skills,
        }) => {
          const dates = formatDates(startDate, endDate);
          return (
            <li>
              <article>
                <header class="flex flex-col space-y-1.5">
                  <div class="flex flex-col-reverse sm:flex-row sm:items-center justify-between sm:gap-x-2 gap-y-1 text-base">
                    <h3 class="font-semibold leading-none">
                      <a
                        href={url}
                        title={`See ${name} site`}
                        target="_blank"
                        class="hover:underline cursor-pointer"
                      >
                        {name}
                      </a>
                    </h3>

                    <time class="text-xs uppercase tabular-nums text-gray-500">
                      {dates}
                    </time>
                  </div>
                  <h4 class="font-mono text-sm leading-none">{position}</h4>
                </header>

                <p class="mt-2 text-xs">{summary}</p>
                {highlights.length > 0 && (
                  <ul class="text-xs text-gray-600 mt-2 list-disc pl-4">
                    {highlights.map((highlight) => (
                      <li class="pb-2">{highlight}</li>
                    ))}
                  </ul>
                )}
                {skills.length > 0 && (
                  <div class="mt-2 flex flex-wrap gap-1">
                    {skills.map((skill) => (
                      <Tag>{skill}</Tag>
                    ))}
                  </div>
                )}
              </article>
            </li>
          );
        },
      )
    }
  </ul>
</Section>
