---
import Section from "../Section.astro";
import Phone from "@/icons/Phone.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import X from "@/icons/X.astro";
import Mail from "@/icons/Mail.astro";
import GitHub from "@/icons/GitHub.astro";
import { basics } from "@cv";
import type { SocialIcon } from "@/types";
import IconButton from "../ui/IconButton.astro";

const { name, image, label, location, email, phone, profiles, summary, url } =
  basics;

const { city, region, url: locationUrl } = location;

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
  X,
};

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn");
const linkedUrl = linkedInfo?.url;

const printInfo = [email, phone, linkedUrl].filter(Boolean);
---

<Section>
  <div class="container">
    <div class="info">
      <h1 class="text-2xl font-bold">{name}</h1>
      <p class="text-balance">{label}</p>
      <a
        class="text-xs text-gray-600 font-mono hover:underline leading-none align-baseline"
        href={locationUrl}
        target="_blank"
        rel="noopener noreferrer"
      >
        🇩🇰 {city}, {region}
      </a>
      <footer class="hidden print:flex gap-x-1 font-mono text-sm text-gray-600">
        {printInfo.map((item) => <span class="underline">{item}</span>)}
      </footer>
      <footer class="print:hidden flex gap-x-1 pt-1 font-mono text-sm">
        {
          email && (
            <IconButton link={`mailto:${email}`}>
              <Mail />
            </IconButton>
          )
        }
        {
          phone && (
            <IconButton link={`tel:${phone}`}>
              <Phone />
            </IconButton>
          )
        }
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network];
            return (
              <IconButton link={url}>
                <Icon />
              </IconButton>
            );
          })
        }
      </footer>
    </div>
    <figure class="relative flex shrink-0 overflow-hidden rounded-xl size-28">
      <img
        class="aspect-square h-full w-full object-cover"
        src={image}
        alt={name}
      />
    </figure>
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
  }

  @media (width <= 700px) {
    .container {
      flex-direction: column-reverse;
    }

    .info {
      justify-content: center;
      align-items: center;
      padding-right: 0;
      text-align: center;
    }
  }
</style>
