---
import Section from "@/components/Section.astro";
import Phone from "@/icons/Phone.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import X from "@/icons/X.astro";
import Mail from "@/icons/Mail.astro";
import GitHub from "@/icons/GitHub.astro";
import { basics } from "@cv";
import type { SocialIcon } from "@/types";
import IconButton from "@/components/ui/IconButton.astro";
import WorldMap from "@/icons/WorldMap.astro";

const { name, image, label, location, email, phone, profiles, url } = basics;

const { city, region, url: locationUrl } = location;

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
  X,
};

const printInfo = [email, phone, url].filter(Boolean);
---

<Section>
  <div
    class="flex justify-between gap-4 items-center sm:flex-row sm:items-start flex-col-reverse"
  >
    <div
      class="flex flex-col items-center sm:items-start gap-2 pr-0 sm:pr-8 text-center sm:text-start"
    >
      <h1 class="text-2xl font-bold">{name}</h1>
      <p class="text-balance">{label}</p>
      <a
        class="text-xs text-gray-600 font-mono hover:underline leading-none align-baseline"
        href={locationUrl}
        target="_blank"
        rel="noopener noreferrer"
      >
        {city}, {region}
      </a>
      <div
        class="hidden flex-col print:flex print:mt-2 gap-y-1 font-mono text-sm text-gray-600"
      >
        <a
          href={`mailto:${email}`}
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center gap-x-2"
        >
          <Mail />
          <span>{email}</span>
        </a>
        <a
          href={`tel:${phone}`}
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center gap-x-2"
        >
          <Phone />
          <span>{phone}</span>
        </a>
        <a
          href={url}
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center gap-x-2"
        >
          <WorldMap />
          <span>{url}</span>
        </a>
      </div>
      <footer class="print:hidden flex gap-x-1 pt-1 font-mono text-sm">
        {
          email && (
            <IconButton link={`mailto:${email}`} title="Email">
              <Mail />
            </IconButton>
          )
        }
        {
          phone && (
            <IconButton link={`tel:${phone}`} title="Phone number">
              <Phone />
            </IconButton>
          )
        }
        {
          profiles.map(({ network, url }) => {
            const Icon = SOCIAL_ICONS[network];
            return (
              <IconButton link={url} title={network}>
                <Icon />
              </IconButton>
            );
          })
        }
      </footer>
    </div>
    <figure class="relative flex shrink-0 overflow-hidden rounded-xl size-28">
      <img
        class="aspect-square h-full w-full object-cover"
        src={image}
        alt={name}
      />
    </figure>
  </div>
</Section>
