---
import Section from "../Section.astro";
import { volunteer } from "@cv";
---

<Section title="Volunteering">
  <div class="flex flex-col gap-8">
    {
      volunteer.map(
        ({ organization, url, position, startDate, endDate, summary }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Present";
          const years = `${startYear} - ${endYear}`;
          return (
            <article>
              <header class="flex flex-col space-y-1.5">
                <div class="flex items-center justify-between gap-x-2 text-base">
                  <h3 class="font-semibold leading-none">
                    <a
                      href={url}
                      title={`See ${organization}`}
                      target="_blank"
                      class="hover:underline"
                    >
                      {organization}
                    </a>
                  </h3>

                  <time class="text-sm tabular-nums text-gray-500">
                    {years}
                  </time>
                </div>
                <h4 class="font-mono text-sm leading-none">{position}</h4>
              </header>

              <p class="mt-2 text-xs">{summary}</p>
            </article>
          );
        },
      )
    }
  </div></Section
>
