---
import Section from "./Section.astro";

import { work } from "@cv";
---

<Section title="Experience">
  <ul class="flex flex-col gap-8">
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Present";
          const years = `${startYear} - ${endYear}`;

          return (
            <li>
              <article>
                <header class="flex flex-col space-y-1.5">
                  <div class="flex items-center justify-between gap-x-2 text-base">
                    <h3 class="font-semibold leading-none">
                      <a
                        href={url}
                        title={`Ver ${name}`}
                        target="_blank"
                        class="hover:underline"
                      >
                        {name}
                      </a>
                    </h3>

                    <time class="text-sm tabular-nums text-gray-500">
                      {years}
                    </time>
                  </div>
                  <h4 class="font-mono text-sm leading-none">{position}</h4>
                </header>

                <p class="mt-2 text-xs">{summary}</p>
                {highlights.length > 0 && (
                  <ul class="text-xs text-gray-500 font-mono mt-2 list-disc pl-4">
                    {highlights.map((highlight) => (
                      <li>{highlight}</li>
                    ))}
                  </ul>
                )}
              </article>
            </li>
          );
        },
      )
    }
  </ul>
</Section>
